{% load static %}
<script type="text/javascript" src ="https://maps.googleapis.com/maps/api/js" ></script>
<script type="text/javascript" src="{% static 'js/gmaps.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
	function gethouseholddetails(){
		console.log('send request');
		$.ajax({
    url : "http://10.0.3.23:8017/restapi/housedetail/",
    type: "POST",
	dataType: 'json',
    data : { 'username' : 'Ramesh Pal', "csrfmiddlewaretoken": '{{ csrf_token }}' },
    success: function(data)
    {
	       var obj = JSON.parse(data.farmer_detail);
	    	console.log('Hello '+ obj);
	    	
	    	//var filter=JSON.parse(obj);
	    	//console.log('Filter '+ filter);
		//alert(JSON.stringify(obj));
	        //var filter=JSON.stringify(obj);
	    	console.log('filter: ' + obj.features);
	        console.log('filter-len: ' + obj.features.length);
	    	var map = new GMaps({
					el: '#map',
        				lat: 16.008855935618726,
        				lng: 79.7167968639029,
					click: function(e){
					  console.log(e);
					}
					});
	        for (var i = 0, len = obj.features.length; i < len; ++i) {
     			var loc =obj.features[i].geometry.coordinates ;
			
			console.log(loc[1]);
			 map.addMarker({
        lat: loc[1],
        lng: loc[0],
	icon: "http://10.0.3.23:8017/media/images/houses/home.png",
        title: 'Marker with Info ' + obj.features[i].properties.pk,
        infoWindow: {
          content: '<p>House No. '+obj.features[i].properties.pk + '</p><br>' +
		    '<p>Members '+obj.features[i].properties.Members + '</p><br>'+
		    '<p>Income '+obj.features[i].properties.Income + '</p><br>'+
		    '<img src="http://10.0.3.23:8017/media/'+obj.features[i].properties.file+'"> House Image'
        }
      });
 		}
	    	/*var loc=JSON.parse(filter);
	        console.log('filter-len: ' + loc.length);
	        console.log('length: ' + filter.length);
	    	*/
	    	for (var i = 0, len = obj.length; i < len; ++i) {
     			var loc = obj[i];
			console.log(loc);
 		}
        //data - response from server
		console.log(data);
		$('#request').html(data.farmer_detail);
    }
});	
	}
	
</script>
<h1>Click to see the houses location..</h1>

<button onclick="gethouseholddetails()">Click here to get house location.</button>
<div id='request'></div>
<div id = "map" style= "width :900px;height: 900px;" >
</div>
