
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	function getfarmersdetails(){
		console.log('send request');
		$.ajax({
    url : "https://farmbuddy-server.herokuapp.com/restapi/farmerdetail/",
    type: "POST",
	dataType: 'json',
    data : { 'username' : 'Ramesh Pal', "csrfmiddlewaretoken": '{{ csrf_token }}' },
    success: function(data)
    {
        //data - response from server
		console.log(data);
		$('#request').html(data.farmer_detail);
    }
});	
	}
	
</script>
<h1>Welcome , You have done a good job.</h1>

<button onclick="getfarmersdetails()">Click here to get farmers details.</button>
<div id='request'></div>
