
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	function getfarmersdetails(){
		console.log('send request');
		$.ajax({
	data:{"csrfmiddlewaretoken":{{ csrf_token }}},
    url : "https://farmbuddy-server.herokuapp.com/restapi/farmerdetail/",
    type: "POST",
    data : { 'username' : 'Ramesh Pal'},
    success: function(data)
    {
        //data - response from server
	console.log(data);
    }
});	
	}
	
</script>
<h1>Welcome , You have done a good job.</h1>
<form>{% csrf_token %}</form>

<button onclick="getfarmersdetails()">Click here to get farmers details.</button>
