{% load static %}
<script type="text/javascript" src ="https://maps.googleapis.com/maps/api/js" ></script>
<script type="text/javascript" src="{% static 'js/gmaps.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<script>
	function getmapdetails(){
		console.log('send request');
		$.ajax({
    url : "http://10.0.3.23:8017/restapi/mapdetail/",
    type: "POST",
	dataType: 'json',
    data : { 'username' : 'Ramesh Pal', "csrfmiddlewaretoken": '{{ csrf_token }}' },
    success: function(data)
    {
        //data - response from server
	        
	        var obj = JSON.parse(data.farmer_detail);
	    	console.log('Hello '+ obj);
	    	
	    	//var filter=JSON.parse(obj);
	    	//console.log('Filter '+ filter);
		//alert(JSON.stringify(obj));
	        //var filter=JSON.stringify(obj);
	    	console.log('filter: ' + obj.features);
	        console.log('filter-len: ' + obj.features.length);
	    	var map = new GMaps({
					el: '#map',
        				lat: -12.040397656836609,
        				lng: -77.03373871559225,
					click: function(e){
					  console.log(e);
					}
					});
	        for (var i = 0, len = obj.features.length; i < len; ++i) {
     			var loc =obj.features[i].geometry.coordinates ;
			for (var j = 0, leng = loc.length; j < leng; ++j) {
     			  var lat=loc[j];
				for (var k = 0, lengt = lat.length; k < lengt; ++k) {
					console.log('latitude '+lat[k][0]);
					console.log('longitude '+lat[k][1]);
				}
				var path = [[-12.040397656836609,-77.03373871559225], [-12.040248585302038,-77.03993927003302], [-12.050047116528843,-77.02448169303511],	[-12.044804866577001,-77.02154422636042]];
				
					
					map.drawPolygon({
						  paths: path, // pre-defined polygon shape
						  strokeColor: '#BBD8E9',
						  strokeOpacity: 1,
						  strokeWeight: 3,
						  fillColor: '#BBD8E9',
						  fillOpacity: 0.6
						});
			
				
			console.log(loc[j]);
				console.log('lat'+ lat[0]);
				console.log('lon'+ lat[1]);
				
 			}
			console.log(loc);
			 map.drawPolygon({
				paths: loc,
				useGeoJSON: true,
				strokeColor: '#131540',
				strokeOpacity: 0.6,
				strokeWeight: 6
			      });
 		}
	    	/*var loc=JSON.parse(filter);
	        console.log('filter-len: ' + loc.length);
	        console.log('length: ' + filter.length);
	    	*/
	    	for (var i = 0, len = obj.length; i < len; ++i) {
     			var loc = obj[i];
			console.log(loc);
 		}
		console.log(data);
		$('#request').html(data.farmer_detail);
    }
});	
	}
	
</script>
<h1>CLick to Get Map!</h1>

<button onclick="getmapdetails()">Click here to get farmers details.</button>
<div id='request'></div>
<div id = "map" style= "width :900px;height: 900px;" >
</div>

<script>

// var t = null;
// function gethouseholddetails(){
// 		console.log('send request');
// 		$.ajax({
// //    url : "http://10.0.3.23:8028/restapi/landlorddetail/",
//     url : "http://127.0.0.1:8000/mapsapp/householddetail/",
//     type: "POST",
// 	dataType: 'json',
//     data : { 'username' : 'Avenash', "csrfmiddlewaretoken": '{{ csrf_token }}' },
//     success: function(data)
//     {
//         //data - response from server
//         console.log(data);
//         t = JSON.parse(data.household_detail);
//         $('#request').html(data.household_detail);
//         var map = new GMaps({
//         el: '#map',
//         lat: t.features[0].geometry.coordinates[1],
//         lng: t.features[0].geometry.coordinates[0],
        
//         });
//         map.addMarker({
//         lat: t.features[0].geometry.coordinates[1],
//         lng: t.features[0].geometry.coordinates[0],
//         title: 'Lima',
//         click: function(e) {
//             alert('You clicked in this marker');
//         }
//         });
//     }

// });	
// }
    
 </script>
<!-- <h1>Household Data in JSON format</h1>
// <button onclick="gethouseholddetails()">Household's data</button>

// <div id='request'></div> -->

