<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	function getmapdetails(){
		console.log('send request');
		$.ajax({
    url : "http://10.0.3.23:8017/restapi/mapdetail/",
    type: "POST",
	dataType: 'json',
    data : { 'username' : 'Ramesh Pal', "csrfmiddlewaretoken": '{{ csrf_token }}' },
    success: function(data)
    {
        //data - response from server
	        
	        var obj = JSON.parse(data.farmer_detail);
	    	console.log('Hello '+ obj);
	    	
	    	//var filter=JSON.parse(obj);
	    	//console.log('Filter '+ filter);
		//alert(JSON.stringify(obj));
	        //var filter=JSON.stringify(obj);
	    	console.log('filter: ' + obj.features);
	    	/*var loc=JSON.parse(filter);
	        console.log('filter-len: ' + loc.length);
	        console.log('length: ' + filter.length);
	    	*/
	    	for (var i = 0, len = obj.length; i < len; ++i) {
     			var loc = obj[i];
			console.log(loc);
 		}
		console.log(data);
		$('#request').html(data.farmer_detail);
    }
});	
	}
	
</script>
<h1>CLick to Get Map!</h1>

<button onclick="getmapdetails()">Click here to get farmers details.</button>
<div id='request'></div>
