<html>
<head>
<title>Farm Buddy</title>
<style>
.button-class{
	width:200px;
	height:200px;
	margin-left: 20px;
	border-radius: 100px;
	font-size: 1.8em;
	color:grey;
}
.button-class:hover{
	box-shadow: 1.5px 1.5px 1.5px 1.5px grey;
}
</style>
	</head>
	<body>
	<div style="text-align:center;margin-top:150px;">
		<a href="http://10.0.3.23:8015/farmindex/landlord"><button class="button-class">Farms</button></a>
		<a href="http://10.0.3.23:8015/farmindex/wells"><button class="button-class">Wells</button></a>
		<a href="http://10.0.3.23:8015/farmindex/household" ><button class="button-class">Households</button></div></a>
	</body>
</html>