<!DOCTYPE HTML>
<html>
<head>
<!-- column chart -->
<script>

window.onload = function () {
//console.log('{{ rice|safe }}');
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	exportEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Year wise Average Yield of Rice"
	},
	data: [{
		type: "column", //change type to bar, line, area, pie, etc
		//indexLabel: "{y}", //Shows y value on all Data Points
		indexLabelFontColor: "#5A5757",
		indexLabelPlacement: "outside",
		/*dataPoints: [
			{ x: 10, y: 71 },
			{ x: 10, y: 91 },
			{ x: 20, y: 55 },
			{ x: 30, y: 50 },
			{ x: 40, y: 65 },
			{ x: 50, y: 92, indexLabel: "Highest" },
			{ x: 60, y: 68 },
			{ x: 70, y: 38 },
			{ x: 80, y: 71 },
			{ x: 90, y: 54 },
			{ x: 100, y: 60 },
			{ x: 110, y: 36 },
			{ x: 120, y: 49 },
			{ x: 130, y: 21, indexLabel: "Lowest" }
		]*/
		dataPoints:{{ rice|safe }}
	}]
});
chart.render();

//}



//window.onload = function () {

var chart2 = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,
	exportEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Average depth of wells in different states"
	},
	axisY: {
		title: "Depth (in meters)",
		suffix: " m",
		reversed: true
	},
	axisX2: {
		tickThickness: 0,
		labelAngle: 0
	},
	data: [{
		type: "column",
		axisXType: "secondary",
		yValueFormatString: "#,##0 meters",
		/*dataPoints: [
			{ y: 300, label: "Continental Shelf" },
			{ y: 3000, label: "Continental Slope" },
			{ y: 4000, label: "Continental Rise" },
			{ y: 6000, label: "Abyssal Plain", indexLabel: "Deepest" },
			{ y: 4400, label: "Sea Mount" }
		]*/
		dataPoints:{{ well|safe }}
	}]
});
chart2.render();
//////////////////////////////


//////////////////////////////

var chart3 = new CanvasJS.Chart("chartContainer3", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "House distribution on the basis of family Annual Income"
	},
	data: [{
		type: "pie",
		startAngle: 25,
		toolTipContent: "<b>{label}</b>: {y}",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} : {y}",
		/*dataPoints: [
			{ y: 51.08, label: "Chrome" },
			{ y: 27.34, label: "Internet Explorer" },
			{ y: 10.62, label: "Firefox" },
			{ y: 5.02, label: "Microsoft Edge" },
			{ y: 4.07, label: "Safari" },
			{ y: 1.22, label: "Opera" },
			{ y: 0.44, label: "Others" }
		]*/
		dataPoints:{{ income|safe }}
	}]
});
chart3.render();

////////////////////////////////////////


//////////////////////////////////////////
var chart4 = new CanvasJS.Chart("chartContainer4", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	animationEnabled: true,
	zoomEnabled: true,
	title: {
		text: "Average Income distribution on the basis of family size"
	},
	data: [{
		type: "area",
		dataPoints: {{ family|safe }}
	}]
});

//addDataPoints(1000);  
chart4.render();

}
</script>


</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<br>
<br>
<div id="chartContainer2" style="height: 370px; width: 100%;"></div>
<br>
<br>
<div id="chartContainer3" style="height: 370px; width: 100%;"></div>
<br>
<br>
<div id="chartContainer4" style="height: 370px; width: 100%;"></div>
<br>
<br>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
